/* This is where styles will go */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

main {
    padding: 0 1em 0 1em;
}
/* Navbar */
.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

/* Scrolling images on homepage */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

#hero {
    text-align: left;
    text-shadow: 1px 1px 10px #000;
    margin-left: 0px;
}

 /* Button styles */
.btn-primary {
    background-color: #2d8edf;
    border: 1px solid #024d8a;
}

.btn-primary:hover {
    background-color: #11cdee;
    border: 1px solid #066d80;
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr, hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

hr {
    border-top: 2px solid #2d8edf;
}

/* Font awesome icons */
.fa-wordpress {
    color: #21759b;
}

.fa-users {
    color: #8f7034;
}

.fa-drupal {
    color: #0c76ab;
}

.fa-code {
    color: red;
}

.fa-linkedin{
    color: #0072b1;
}

.fa-envelope {
    color: #c71610;
}

.fa-wordpress, .fa-users, .fa-drupal, .fa-code {
    font-size: 3.5em;
    margin: 1rem;
}
/* Two column */
#me {
   padding-right: 20px;
}

#summary {
    padding-left: 30px;
}

/* Connect Section Font awesome icons */
.social a {
    font-size: 3em;
    padding: 3rem;
}

.fa-linkedin:hover, 
.fa-envelope:hover {
    color: #d5d5d5;
}

/* Footer */
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

/* Portfolio page styles */

.portfolio {
    background-color: rgb(235, 235, 235);
    border: 2px solid darkgrey;
    margin: 10px auto;
    width: 85%;
}

.skills {
    padding-top: 30px;
}

/*Contact page styles*/
form {
    margin: 0 auto;
    width: 60%;

}

.contact-title {
    text-align: center;
    padding-top: 10px;
}

.form-control {
    border: none;
}

form .submit {
    background-color: orange;
    padding-bottom: 30px;
}

form .submit:hover {
    background-color: rgb(138, 66, 19);
    padding-bottom: 30px;
}
.form-container {
    margin-bottom: 50px;
}

.page-container {
    background-color: rgb(131, 131, 190);
}


/*--Hover Effect for fun facts on the homepage --*/

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #11cdee;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
  }
  
  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  
  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

/*---Media Queries --*/
@media (max-width: 992px) {
    .social a {
        font-size: 1.5em;
        padding: 2rem;
    }
  }

@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn{
        font-size: 95%;
        padding: 8px 14px 8px 14px;
    }
    .display-4 {
        font-size: 200%;
    }
    .social a {
        font-size: 2em;
        padding: 1.2rem;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn{
        font-size: 90%;
        padding: 4px 8px;
    }
    .carousel-indicators {
        display: none;
    }
    .display-4 {
        font-size: 160%;
    }
    .social a {
        font-size: 2em;
        padding: .7rem;
    }
    /* Portfolio page styles */
    .portfolio {
    background-color: lightgrey;
    border: 2px solid darkgrey;
    margin: 0 auto;
    width: 100%;   
    }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/* Notes --
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/